body, html {
    margin: 0;
    font-family: "Inter", sans-serif;
}
/*Encabezado*/
header {
    background-color: #ff3b3c;
    padding-top: 10px;
    height: 152px;
}
.search {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.search .form input {
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search .social ul li {
    padding: 0 10px;
    
}
.nav {
    padding: 10px 0;
}
.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}
.nav ul li a:hover {
    text-decoration: underline;
}
section{
    height: 340px;
}

.container {
      width: 100%;
      margin: 0 auto;
      height: inherit;
      min-height: inherit;
}

/*seccion principal*/
main{
    padding: 50px;
    height: auto;
}
.columns-container{
    flex:1;
    display: flex;
    justify-content: space-around;
    
    padding: 0px 50px;
  
    
}
.product-images-block, .product-description-block, .product-checkout-block{
    margin: 0px 10px;
    flex: 1;
}
.product-images-block{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 55px 1fr;
    max-width: 100%;
    overflow: hidden;
}
.product-images-block .thumbnail-container {
    grid-column: 1;
    margin: 3px;
    height: 70px;
}
.product-images-block .thumbnail-container img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}
.product-images-block .main-image{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.product-description-block .titulo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    word-wrap: break-word;
    
}
.product-description-block .selector fieldset{ 
    border:2px #919191 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius:15px;
    font-size: 15px;
}
.product-description-block .selector fieldset select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-description-block .description p{
    color: #646464;
    font-size: 16px;
    font-weight: lighter;
    word-wrap: break-word;
}
.checkout-container{
    background-color: #ebebeb;
    padding: 33px;
    border-radius: 2px
}
.checkout-total-label{
    color: #ff3b3c;
}
.checkout-total-price{
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}
.checkout-description{
    line-height: 20.4px;
    word-wrap: break-word
}
.checkout-policy-list{
    list-style-type: none;
    margin-bottom: 30px;
}
.checkout-policy-list li{
    display: flex;
    margin: 15px 0;
}
.checkout-policy-list li .policy-icon{
    margin-right: 15px;
}
.checkout-process .top{
    display: flex;
    margin-bottom: 10px;
}
.checkout-process .top input{
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 62px;
    margin-right: 10px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}
.btn-primary{
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}
.btn-outline{
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #ff3b3c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
.sales-block {
    margin-top: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
}

.sales-block a{
    text-decoration: none;
    color: initial;
}
.sales-block h2{
    grid-row: 1;
    grid-column: 1 / 4;
    text-align: center;
    font-size: 40px;
}
.product-card{
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
    height: 410px;
    overflow: hidden;
}
.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.product-info{
    padding: 20px;
    box-sizing: border-box;
}
.product-title{
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
}
.product-description {
    font-size: small;
    font-weight: normal;
    margin-bottom: 6px;
}

.product-tax-policy {
    font-size: medium;
    font-weight: lighter;
}

.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}
/*footer style*/

footer {
    /* Hexadecimal color code*/
    min-height: 368px;
    background-color: #7525a7;
}
footer .container {
    display: flex;
    flex-direction: column;
}
.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columns-container .col ul {
    list-style-type: none;
    padding: 0;
}
.columns-container .col ul li {
    padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 20px;
}
.columns-container .col ul li a {
    color: white;
    text-decoration: none;
}
.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
}

/* vista tablet*/
@media(max-width: 768px){
    .search .form input{
        width: 300px;
        
    }
    .container{
        width: 100%;

    }
    .product-container {
        grid-template-columns: repeat(2, 1fr);

    }
}
/*vista movil*/
@media (max-width: 425px){
    .search .logo img{
        width: 150px;
    }
    .search .form input{
        width: 100px;
        
    }
    .title-container span:first-child {
        font-size: 30px;
    }
    .title-container span:last-child {
        font-size: 500px;
        line-height: 80px;
    }
    
}

  
  