body, html{
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
  }
body, html {
    font-family: "Inter", sans-serif;
}
.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}
.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: slateblue;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 20px;
}
.product-card{
    background-color: paleturquoise;
    border-radius: 14px;
    width: auto;
    
}
.product-img{
    border-radius: 14px 14px 0 0;
}
section#hero{
    height: 340px;
    background:url('assets/hero_bg.png');
    background-size: cover;
    background-position: top center;
}
section#hero .container{
    display: flex;
    align-items: center;
    justify-content: left;
}
.title-container .title-word {
    display: block;
    color: white; /* Cambia el color del texto a blanco */
    font-weight: 700;
}
.title-container .title-word:last-child {
    font-size: 100px;
    line-height: 80px;
}
.title-container span{
    display: white;
    font-weight: 700;
    
}
.title-container span:first-child{
    font-size: 40px;
        
}
.title-container span:last-child {
    font-size: 100px;
    line-height: 80;
}


header {
    background-color: skyblue; /* Ejemplo de color */
  }
.search{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);s
}

.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}
.search .form input {
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
}
.search .social ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search .social ul li {
    padding: 0 10px;
}


.nav {
    padding: 10px 0;
}
.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}
.nav ul li a:hover {
    text-decoration: underline;
}

@media(max-width: 768px){
    .search .form input{
        width: 300px;
    }
    .container{
        width: 100%;
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 425px){
    .search .logo img{
        width: 150px;
    }
    .search .form input{
        width: 100px;
    }
    .container{
        width: 100%;
    }
    
    .title-container span:first-child{
        font-size: 30px;
        
    }
    .title-container span:last-child {
        font-size: 80px;
        line-height: 80px;
    }
    
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
  